'.source.js':
  'ngService':
    'prefix': 'ngservice'
    'body': """
      (() => {
        'use strict';

        angular
          .module('${1:module}')
          .service('${2:service}', ${2:service});

        ${2:service}.$inject = [
          '${3:dependencies}'
        ];

        /* @ngInject */
        function ${2:service}(${3:dependencies}) {
          this.${4:function} = ${4:function};

          function ${4:function}() {

          }
        }
      })();
    """
